.fourth-part{
    background-color: pink;
}
.heading4{
    font-family: "Akira",sans-serif;
    color: black;
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 5px;
}